{% extends 'base.html' %}

{% block title %}
    {{ playlist["Title"] }}
{% endblock %}

{% block content %}
    <a href="{{ playlist['Link'] }}">
        <h1>{{ playlist["Title"] }}</h1>
    </a>

    {% for song in playlist["Songs"] %}
        <div>
            <hr>
            <img src="{{ song['image'] }}" width="80" height="80">
            <h2> {{ song["title"] }} by {{ song["artist"] }} </h2>
            <h3> {{song["path"]}} </h3>
            <audio controls autoplay muted>
                <source src=' {{ url_for("static", filename=song["title"] + " | " + song["artist"] + ".mp3") }} ' type="audio/mpeg">
                Your browser does not support the audio element.
             </audio>

        </div>


    {% endfor %}
{% endblock %}
